langchain==1.0.2
langchain-community==0.4.0
langchain-core==1.0.1
langchain-text-splitters==1.0.0
chromadb==1.2.1
langchain-chroma==1.0.0
langchain-google-vertexai==3.0.1
google-cloud-aiplatform==1.122.0
google-cloud-storage
fastapi==0.120.0
uvicorn==0.38.0
pydantic==2.12.3
markdown==3.9.0
unstructured==0.18.15
beautifulsoup4==4.14.2
python-dotenv==1.2.1
httpx==0.28.1
aiofiles==25.1.0
requests==2.32.5
numpy==2.3.4
