name: Deploy to Google Cloud Run

on:
  push:
    branches:
      - main
    paths:
      - 'model/app.py'
      - 'embeddings/create_embeddings.py'
      - 'index.html'
      - 'requirements.txt'  # for dependency changes
      - 'Dockerfile'       # for container changes
      - '.github/workflows/deploy.yml'  # for workflow changes

env:
  PROJECT_ID: ${{ secrets.PROJECT_ID }}
  REGION: us-central1
  SERVICE_NAME: portfolio-qa
  IMAGE_NAME: gcr.io/${{ secrets.PROJECT_ID }}/portfolio-app

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Authenticate to Google Cloud
      id: auth
      uses: google-github-actions/auth@v2
      with:
        credentials_json: ${{ secrets.GOOGLE_APPLICATION_CREDENTIALS }}

    - name: Set up Google Cloud SDK
      uses: google-github-actions/setup-gcloud@v2
      with:
        project_id: ${{ secrets.PROJECT_ID }}

    - name: Configure Docker for Artifact Registry
      run: gcloud auth configure-docker gcr.io

    - name: Build Docker image
      run: docker build -t ${{ env.IMAGE_NAME }} .

    - name: Push Docker image to Artifact Registry
      run: docker push ${{ env.IMAGE_NAME }}

    - name: Deploy to Cloud Run
      run: |
        gcloud run deploy ${{ env.SERVICE_NAME }} \
          --image ${{ env.IMAGE_NAME }} \
          --platform managed \
          --region ${{ env.REGION }} \
          --port 8000 \
          --allow-unauthenticated \
          --service-account credentials-leemncwabe30@${{ secrets.PROJECT_ID }}.iam.gserviceaccount.com \
          --set-env-vars "PROJECT_ID=${{ secrets.PROJECT_ID }},EMBEDDING_MODEL=${{ secrets.EMBEDDING_MODEL }},LLM_MODEL=${{ secrets.LLM_MODEL }},PERSIST_DIRECTORY=${{ secrets.PERSIST_DIRECTORY }},GCS_BUCKET_NAME=${{ secrets.GCS_BUCKET_NAME }}"
